.navar {
    background-color: aliceblue;
}

.hero {

    height: 80vh;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.butt {
    display: auto;
    ;
}

h1 {
    background-color: greenyellow;
    text-align: auto;
    display: block;
    font-size: 2.5em;
    margin-top: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

p {
    font-size: 1.5em;
    color: black;
}

.a {
    background-color: white;
}

.h-100 {
    height: 100vh;
}

.w-50 {
    width: 50vw;
}

.align-center {
    margin: 0 auto;
    text-align: center;
}

.flex-col-justify-around {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}