.navar {
    background-color: aliceblue;
}

.hero {

    height: 80vh;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.butt {
    display: auto;
    ;
}

h1 {
    background-color: greenyellow;
    text-align: auto;
    display: block;
    font-size: 2em;
    margin-top: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.a {
    background-color: white;
}